#whole-page {
    background: url("https://images.unsplash.com/photo-1625317201684-b5ab0b282552?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

h2 {
    text-align: center;
    color: rgb(253, 253, 253);
    margin: 5px;
    padding: 2px;
}

#form {
    text-align: center;
}

#button {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: #b5e7a0;

}

#main-form {
    width: 300px;
    margin: 100px auto;
    padding: 10px;
    border: 2px solid #0c0c0a;
    background-color: #d2d8d9;
    border-radius: 15px;
}
a{
    text-decoration: none;
}